ul.typeahead.dropdown-menu {
  width: 96%;
  li {
    position: relative;
    border-bottom: 1px #f1f1f1 solid;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &.active .dropdown-item {
      color: #2b2d2f;
      text-decoration: none;
      background-color: #f5f5f5;
    }
    .dropdown-item {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      .thumb {
        display: inline-block;
      }
      .title {
        width: calc(100% - 80px);
        margin-left: 10px;
        display: inline-block;
        white-space: normal;
        vertical-align: top;
      }
    }
  }
}
